*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #181818;
  line-height: 1.4;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
}

h1 {
  margin-bottom: 1.5rem;
}

/* li {
  background: #d4eded;
  padding: 0.4rem 5rem;
  margin: 1rem 0;
} */

#content {
  background: #e6eded;
  padding: 0.4rem 5rem;
  margin: 1rem 3rem;
}


h3 {
  margin-bottom: 1rem;
}

p {
  font-size: 0.9rem;
  font-weight: 500;
}